/TayaIT.Enterprise.EMadbatah.Web/Files
/TayaIT.Enterprise.EMadbatah.Web/Corrupted files
/TayaIT.Enterprise.EMadbatah.Web/SessionFiles
/TayaIT.Enterprise.EMadbatah.Web/BackUps
/ar
/commondlls
/*.bak
/TayaIT.Enterprise.EMadbatah.Web/_logs
