<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EMadbatahEntities" connectionString="metadata=res://*/EMadbatahEntities.csdl|res://*/EMadbatahEntities.ssdl|res://*/EMadbatahEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EMadbatah2;user id=emadbatahuser;password=emadbatahuserpass;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EMadbatahEntities" connectionString="metadata=res://*/EMadbatahEntities.csdl|res://*/EMadbatahEntities.ssdl|res://*/EMadbatahEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.90;Initial Catalog=EMadbatah2;Persist Security Info=True;User ID=sa;Password=Develop1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>